
*.map
*.vmf
*.vmx
*.rmf
*.log
*.prt
*.cache
*.json
*.props
*.targets
*.ide
maps/release_readme.txt
maps/e2m10.txt
*.xml
*.iml
.idea/Map-to-VMF-Converter-Python-and-CS.iml
*.pyc
*.CopyComplete
PythonNetData/obj/Debug/netstandard2.0/Py_embedded_v37.csproj.FileListAbsolute.txt
PythonNetData/obj/Debug/netstandard2.0/Py_embedded_v37.csproj.FileListAbsolute.txt
/C#_port/obj/*
/C#_port/bin/*
*.diagsession
*.diagsession
C#_port/.vs/MapConverter/DesignTimeBuild/.dtbcache.v2
